@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.soft-shadow {
  box-shadow: 0px 5.342px 33.386px 0px rgba(0, 0, 0, 0.08);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 640px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}

@media (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}

.gradient {
  background: linear-gradient(180deg, #FFF 0%, #F4F4F4 100%);
}

.transform-gradient {
  background: linear-gradient(180deg, #2F5478 0%, #22405C 100%);
}